{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <img class="card-img-top marg20-bot" src="{{url_for('static', filename=post.image.path)}}">
      <p class="article-content">{{ post.content|safe }}</p>
      <div class="article-metadata">
        <p class="text-muted">{{ post.author.username }}</p>
      </div>
    </div>
  </article>
{% endblock content %}